{% extends 'base.html' %}

{% block content_base %}
    <main>
        {#        Toasts#}
        {% if g.user %}
            <div aria-live="polite" aria-atomic="true" class="position-relative">
                <div class="toast-container top-0 end-0 p-3">
                    <div class="toast align-items-center show" role="alert" aria-live="assertive"
                         aria-atomic="true" id="liveToast">
                        <div class="d-flex">
                            <div class="toast-body">
                                Log in successfully! Welcome, {{ g.user['username'] }}.
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <!-- title section -->
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw">AI Painting Difference</h1>
                    <p class="lead text-body-secondary">AI Painting Difference generates stunning digital paintings
                        using
                        cutting-edge algorithms and machine learning techniques. Discover the fascinating world of
                        AI-generated art
                        and add a touch of creativity to your collection</p>
                    <p>
                        <a href="./generate" class="btn btn-primary my-2">Explore</a>

                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img featurette-image img-fluid mx-auto"
                                 src="../static/images/mid_zhuyihapi_A_floating_car_travelling_in_a_cyberpunk_world_cc55182d-408f-4a12-875c-8e43f8d20e4d.png"
                                 data-action="zoom"
                                 download="../static/images/mid_zhuyihapi_A_floating_car_travelling_in_a_cyberpunk_world_cc55182d-408f-4a12-875c-8e43f8d20e4d.png">

                            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg> -->
                            <div class="card-body">
                                <p class="card-text">A floating car travells in a cyberpunk world</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">button</button> -->
                                    </div>
                                    <small class="text-body-secondary">Midjounery</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">

                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                 src="../static/images/Dalle2_A floating car travells in a cyberpunk world.png"
                                 data-action="zoom">

                            <div class="card-body">
                                <p class="card-text">A floating car travells in a cyberpunk world</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">button</button> -->
                                    </div>
                                    <small class="text-body-secondary">DALL·E 2</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">

                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                 src="../static/images/DD_A floating car travells in a cyberpunk world.png"
                                 data-action="zoom">

                            <div class="card-body">
                                <p class="card-text">A floating car travells in a cyberpunk world</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">button</button> -->
                                    </div>
                                    <small class="text-body-secondary">Disco Diffusion</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                 src="../static/images/mid_A_beautiful_painting_of_a_singular_lighthouse_shinin_a6cdf7ce-4b20-4703-b5e1-9d9a2f52224e.png"
                                 data-action="zoom">

                            <div class="card-body">
                                <p class="card-text"
                                   title="A beautiful painting of a singular lighthouse, shining its light across a tumultuous sea by greg rutkowski and thomas kinkade, Trending on artstation">
                                    A beautiful painting of a singular lighthouse, shining its light across a tumultuous
                                    sea by greg rutkowski and thomas kinkade, Trending on artstation</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">button</button> -->
                                    </div>
                                    <small class="text-body-secondary">Midjounery</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                 src="../static/images/Dalle_2_2_A beautiful painting of a singular lighthouse, shining its light across a tumultuous sea by greg rutkowski and thomas kinkade, Trending on artstation.jpg"
                                 data-action="zoom">

                            <div class="card-body">
                                <p class="card-text"
                                   title="A beautiful painting of a singular lighthouse, shining its light across tumultuous sea of blood by greg rutkowski and thomas kinkade, Trending on artstation">
                                    A beautiful painting of a singular lighthouse, shining its light across a
                                    tumultuous sea by greg rutkowski and thomas kinkade, Trending on artstation</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">button</button> -->
                                    </div>
                                    <small class="text-body-secondary">DALL·E 2</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                 src="../static/images/DD_A beautiful painting of a singular lighthouse, shining its light across a tumultuous sea of blood by greg rutkowski and thomas kinkade, Trending on artstation.png"
                                 data-action="zoom">

                            <div class="card-body">
                                <p class="card-text"
                                   title="A beautiful painting of a singular lighthouse, shining its light across tumultuous sea of blood by greg rutkowski and thomas kinkade, Trending on artstation">
                                    A beautiful painting of a singular lighthouse, shining its light across a
                                    tumultuous sea of blood by greg rutkowski and thomas kinkade, Trending on
                                    artstation</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">button</button> -->
                                    </div>
                                    <small class="text-body-secondary">Disco Diffusion</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                 src="../static/images/sd_1_an astronaut riding a horse on mars, hd, dramatic lighting.png"
                                 data-action="zoom">

                            <div class="card-body">
                                <p class="card-text" title="An astronaut riding a horse on mars, hd, dramatic lighting">
                                    An astronaut riding a horse on mars, hd, dramatic lighting</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">button</button> -->
                                    </div>
                                    <small class="text-body-secondary">Stable Diffusion</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                 src="../static/images/dalle_an astronaut riding a horse on mars, hd, dramatic lighting.jpg"
                                 data-action="zoom">

                            <div class="card-body">
                                <p class="card-text" title="An astronaut riding a horse on mars, hd, dramatic lighting">
                                    An astronaut riding a horse on mars, hd, dramatic lighting</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">button</button> -->
                                    </div>
                                    <small class="text-body-secondary">DALL·E 2</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                 src="../static/images/mid_An_astronaut_riding_a_horse_on_mars_hd_dramatic_ligh_0c32859c-b02a-4b81-8d39-1a672d1ed575.png"
                                 data-action="zoom">

                            <div class="card-body">
                                <p class="card-text">An astronaut riding a horse on mars, hd, dramatic lighting</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">button</button> -->
                                    </div>
                                    <small class="text-body-secondary">Midjounery</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </main>
{% endblock %}