{% extends 'base.html' %}
{% block title %}AIPD-log{% endblock %}
{% block content_base %}
    <main class="d-flex">
        <div class="container text-center mt-4">
            <div class="row mt-2">
                <h1>Update Log</h1>
            </div>
            <div class="row">
                <h3>1.1.0</h3>
                <p>Project Reconstruction</p>
                <p>Added additional settings feature</p>
            </div>
            <div class="row">
                <h4>1.1.2</h4>
                <p>Added model: Kandinsky-2</p>
            </div>
            <div class="row">
                <h3>1.2.0</h3>
                <p>Credit system</p>
                <p>More additional setting for stable diffusion</p>
                <p>Some logic of redirection update</p>
            </div>
            <div class="row">
                <h4>1.2.1</h4>
                <p>Added test module and replicate exception handling</p>
            </div>
            <div class="row">
                <h4>1.2.2</h4>
                <p>Login Status Alert</p>
                <p>Added update log</p>
                <p>Website icon</p>
            </div>
        </div>
    </main>
{% endblock %}